<!-- FILE: spider_project/spider_app/templates/spider_app/base.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
        Spider Web
      {% endblock %}
    </title>
  </head>
  <body>
    <nav>
        <ul style="list-style-type: none; padding: 0;">
            <li style="display: inline; margin-right: 10px;">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li style="display: inline; margin-right: 10px;">
              <a href="{% url 'tasks' %}">Tasks</a>
            </li>
            <li style="display: inline; margin-right: 10px;">
              <a href="{% url 'change_authority' %}">Change Authority</a>
            </li>
          </ul>
    </nav>
    <main>
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
