<!-- FILE: spider_project/spider_app/templates/spider_app/fail.html -->
{% extends "spider_app/base.html" %}

{% block title %}Failed Operations{% endblock %}

{% block header %}Failed Operations{% endblock %}

{% block content %}
    <ul>
      {% if failed_operations %}
        {% for spider in failed_operations %}
          <li>
            <p>Username: {{ spider.username }}</p>
            <p>Date: {{ spider.date }}</p>
            <p>Country Code: {{ spider.country_code }}</p>
            <p>Failed Number: {{ spider.page_number }}</p>
          </li>
        {% endfor %}
      {% else %}
        <li>No failed operations found.</li>
      {% endif %}
    </ul>
{% endblock %}