<!-- FILE: spider_project/spider_app/templates/spider_app/home.html -->
{% extends "spider_app/base.html" %}

{% block title %}Spider Home{% endblock %}

{% block header %}Spider Home{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Start Spider</button>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <h2>使用说明</h2>
<p>
    <strong>Home 页面:</strong> 用于提交爬取任务。使用案例：
    <ul>
        <li><strong>username:</strong> 账户</li>
        <li><strong>password:</strong> 密码</li>
        <li><strong>Data:</strong> 日期（例如：2024-10-24）</li>
        <li><strong>Country:</strong> 国家（例如：Brazil，India.. 不填写则爬取全部国家）</li>
    </ul>
</p>
<p>
    <strong>Task 页面:</strong> 可以查看任务运行的进度(需要<strong>手动刷新</strong>页面，查看进度)，并下载任务的数据文件。
</p>
<p>
    <strong>Change Authority:</strong> 用于提升账户权限功能，请谨慎使用。
</p>
{% endblock %}